stayingalivegame/Library/AnnotationManager
stayingalivegame/Library/AssetImportState
stayingalivegame/Library/AssetServerCacheV3
stayingalivegame/Library/AssetVersioning.db
stayingalivegame/Library/BuildPlayer.prefs
stayingalivegame/Library/BuildSettings.asset
stayingalivegame/Library/EditorUserBuildSettings.asset
stayingalivegame/Library/EditorUserSettings.asset
stayingalivegame/Library/FailedAssetImports.txt
stayingalivegame/Library/InspectorExpandedItems.asset
stayingalivegame/Library/MonoManager.asset
stayingalivegame/Library/ProjectSettings.asset
stayingalivegame/Temp/UnityTempFile-65b0237afddc2474a8fb88502898de7b
stayingalivegame/Temp/UnityTempFile-9c4ffa892bef04a1eb17bd90b34e8e30
stayingalivegame/Temp/UnityTempFile-b3fb2de00e5934e3fa26fab4f9b61b0e
stayingalivegame/Temp/__BuildPlayer Backupscene
stayingalivegame/Temp/compressedData
stayingalivegame/Temp/uncompressedData
